h1 {
    font: bolder;
    text-decoration: underline solid;
}

object {
    width: 50vw;
    height: 40vw;
}

.certificate {
    padding-top: 3vw;
    padding-bottom: 1.5vw;
    color: white;
    text-align: center;
}

.certificate>h2 {
    box-shadow: 5px 0px 20px rgb(0, 0, 0);
}

.spec1 {
    padding-top: 2vw;
    background-color: #2E4057;
}

.spec2 h2,
.spec2 h1,
.spec2 h2,
.spec4 h1,
.spec4 h2 {
    color: black;
}

.spec2 {
    background-color: #CAFFB9;
}

.spec3 {
    background-color: #66a182;
}

.spec4 {
    background-color: #AEF78E;
}

@media screen and (max-width:750px) {
    object {
        width: 100vw;
        height: 80vw;
    }
}